Source: libdeep
Section: libs
Priority: extra
Maintainer: Bob Mottram (4096 bits) <bob@robotics.uk.to>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/bashrc/libdeep
Vcs-Git: https://github.com/bashrc/libdeep.git

Package: libdeep0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gnuplot, libpng-dev
Description: C Library for deep learning
 Makes using deep learning easy to include within any C/C++ application.

Package: libdeep0-dev
Section: libdevel
Architecture: any
Depends: libdeep0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, gnuplot, libpng-dev
Description: C Library for deep learning
 Makes using deep learning easy to include within any C/C++ application.
